
@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron">
    <h2>Index</h2>
    <hr>
    <h2 class="bg-info">@ViewData["greeting"]</h2>

    <h3>It is currently @ViewData["date1"] on @ViewData["date2"]</h3>

    <h4>There are currently @ViewData["date3"] days left in @ViewData["year1"]</h4>

    <a class="btn btn-danger href="/Waffles.cshtml" role="button">Make Waffles</a>
</div>